/Calculatable.class
/ConditionalDamageConstants.class
/Damage.class
/DamageCalculator.class
/IntelligenceDamageCalculator.class
/PowerDamageCalculator.class
/SpeedDamageCalculator.class
/TypeDamageCalculator.class
